*{
    margin: 0;
    background-color: #DAE5E8;
}

#logo-4comfort{
    height: 400px;
    width: 400px;
}

main{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 40px 40px;
}

h3{
    padding: 3px;
}

#main-text{
    text-align: center;
    color: #2E3237;
    padding-top: 150px;
}

#foto-shoes{
    opacity: 0.5;
}

#foto-shoes:hover{
    opacity: 1;
}

#foto-two-shoes{
    opacity: 0.5;
}

#foto-two-shoes:hover{
    opacity: 1;
}

.tamanho-foto{
    height: 470px;
    width: 725px;
}

#lista-text{
    text-align: center;
    color: #2E3237;
    padding-top: 150px;
}

footer{
    text-align: center;
}

#siga-nos{
    margin-top: 100px;
    color: #2E3237;
}

.redes-sociais{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}
