*{
    margin: 0;
}

header{
    background-color: #DAE5E8;
}

header > img{
    height: 200px;
    width: 200px;
}

nav{
    text-align: end;
    margin-right: 100px;
    font-size: 20px;
}

nav > a{
    text-decoration: none;
    color: #2E3237;
    padding: 10px;
}

main{
    background-color: #7D807B;
    padding-top: 20px;
}

#imagem-1{
    text-align: end;
}

footer{
    background-color: #DAE5E8;
    text-align: center;
    height: 200px;
}

footer > h3{
    padding: 15px;
}

footer > a > img{
    height: 50px;
    width: 50px;
    padding-bottom: 15px;
}

