
.cabeçalho{
    background-color: orange;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.navegação{
    margin: 35px;
}

.nome-da-loja{
    background-color: mediumseagreen; 
    text-align: center;
    margin: 0px;
    padding: 1px;
    font-size: 35px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slogan{
    font-size: 20px;
    text-align: center;
    background-color: mediumseagreen;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-pequeno-ao-grande{
    text-align: center;
}

.logo-loja{
    width: 250px;
    height: 250px;
}

.infos-gerais{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.siga-nos{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.logo-redes-sociais{

    text-align: center;
}

.redes-sociais{
    width: 50px;
    height: 50px;
    margin: auto;
}

.rodapé{
    background-color: orange;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    bottom: 0px;
}

h2{
    text-align: center;
    color: orange;
    font-size: 30px;
}

.imagem-produto{
    width: 150px;
    height: 150px;
    text-align: center;
}

#tabela{
    margin: auto;
}

#formulario{
    text-align: center;
    font-size: 20px;
}

#botao-enviar{
    margin-top: 20px;
    padding: 5px;
}

.rodapé-sem-rolagem{
    background-color: orange;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    bottom: 0px;
    width: 100%;
    position: absolute;
}