* {
    margin: 0;
    padding: 0;
}

header{
    background-color: red;
    margin-top: 0;
    height: 10vh; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 50px;
}

#pesquisa{
    display: grid;
    justify-self: end;
    height: 30px;
    width: 200px;
}

main{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

a{
    display: flex;
    justify-self: center;
}

.imagens{
    height: 250px;
    width: 250px;
    border: 2px black solid;
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
}

p{
    text-align: center;
}

.video{
    padding: 20px;
}

input{
    height: 40px;
    width: 70px;
}

footer{
    background-color: red;
    margin-bottom: 0;
    height: 10vh;
    font-size: 20px;
    text-align: center;
    display: grid;
    align-items: center;
}



